<header class="header">
  <div class="lang-switch">
    <button
      class="lang-btn"
      [class.active]="langService.lang() === 'he'"
      (click)="langService.lang() !== 'he' ? langService.toggle() : null"
      [style.cursor]="langService.lang() === 'he' ? 'default' : 'pointer'"
    >
      עברית
    </button>

    <button
      class="lang-btn"
      [class.active]="langService.lang() === 'en'"
      (click)="langService.lang() !== 'en' ? langService.toggle() : null"
      [style.cursor]="langService.lang() === 'en' ? 'default' : 'pointer'"
    >
      English
    </button>
  </div>
</header>

<router-outlet></router-outlet>
